/src/*.o
/tests/check/*.o
/src/*.dSYM
/tests/check/*.dSYM
/src/sslproxy
/tests/check/sslproxy.test
/extra/*.pyc
/extra/engine/*.dylib
/extra/engine/*.so
/extra/pki/dh*.param
/extra/pki/dsa.pem
/extra/pki/dsa.crt
/extra/pki/dsa.key
/extra/pki/dsa.param
/extra/pki/ec.pem
/extra/pki/ec.crt
/extra/pki/ec.key
/extra/pki/pwd.key
/extra/pki/rsa.pem
/extra/pki/rsa.crt
/extra/pki/rsa.key
/extra/pki/server.pem
/extra/pki/server.crt
/extra/pki/server.key
/extra/pki/targets/*
/extra/lp/lp

/nbproject/

# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
