# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.

*       anusha@corsha.com david@corsha.com chen@corsha.com calvin@corsha.com

k8s/ carlos@corsha.com anusha@corsha.com david@corsha.com calvin@corsha.com
Jenkinsfile carlos@corsha.com anusha@corsha.com david@corsha.com calvin@corsha.com chen@corsha.com
